#content {
  width: 95%;
  height: 85%;
  position: fixed;
  bottom: 0;
  left: 2.5%;
  background: #f1f3f6;
}

#content {
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    padding: 2rem 0;
    width: 80%;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 2.2rem;
    padding: 0 0 1rem;
    width: 80%;
    margin: 0 auto;
  }
  h3.content-h3 {
    font-size: 2rem;
    width: 80%;
    margin: 0 auto 2rem;
    text-align: center;
  }
  p.content-p {
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto 2rem;
    line-height: 1.8rem;
  }
  .tablet {
    display: none;
  }
  .pc {
    display: none;
  }
}

#content {
  #max-min {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    #minimize,
    #maximize {
      p {
        color: white;
        font-size: 1.5rem;
      }
    }
    #minimize {
      display: none;
    }
  }
}

// maximize content
.maximize {
  animation: maximizeContent 0.4s forwards ease-out;
}

@keyframes maximizeContent {
  from {
    width: 95%;
    height: 85%;
    left: 2.5%;
  }
  to {
    width: 100%;
    height: 100%;
    left: 0%;
  }
}

// minimize content
.minimize {
  animation: minimizeContent 0.4s forwards ease-out;
}

@keyframes minimizeContent {
  from {
    width: 100%;
    height: 100%;
    left: 0;
  }
  to {
    width: 95%;
    height: 85%;
    left: 2.5%;
  }
}

#content {
  #prev-font-header,
  #prev-bg-header {
    position: absolute;
    top: 60%;
    width: 10rem;
    height: 5rem;
    background: rgba($color: #000000, $alpha: 1);
    margin: 0 5rem;
    // border-radius: 0.5rem 0.5rem 0 0;
    padding: 0;
    p.header {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      background: black;
      padding: 0.5rem;
      //   display: none;
    }
    p {
      text-transform: lowercase;
      text-align: center;
      font-size: 1.2rem;
      color: white;
    }
    .current-color {
      width: 10rem;
      font-size: 1rem;
      //   margin: 0.5rem;
      border: 0.1rem solid white;
      padding: 0.5rem 0;
      // background: white;
      // color: black;
      overflow: hidden;
      // border-radius: 0.2rem;
      // box-shadow: -0.1rem -0.1rem 0.2rem white, 0.1rem 0.1rem 0.2rem black;
      cursor: pointer;
    }
  }
  #prev-font-header {
    left: 0;
  }
  #prev-bg-header {
    right: 0;
  }
  #prev-bg-colors-holder,
  #prev-font-colors-holder {
    width: 10rem;
    max-height: 29%;
    margin: 0 5rem;
    position: absolute;
    // top: calc(10% + 5rem);
    top: calc(60% + 5rem);
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba($color: #000000, $alpha: 1);
    // border-radius: 0 0 0.5rem 0.5rem;
    ul {
      li {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        .trash {
          width: 1.5rem;
          height: 1.5rem;
          font-size: 1.5rem;
          color: red;
          cursor: pointer;
        }
        .prev-color {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          box-shadow: -0.1rem -0.1rem 0.2rem white, 0.1rem 0.1rem 0.2rem black;
          cursor: pointer;

          /* ----- color wave starts here----- */
          position: relative;
          display: block;
          overflow: hidden;

          &:hover {
            .wave {
              top: -120px;
            }
          }
          .wave {
            width: 100px;
            height: 100px;
            position: absolute;
            left: 0;
            top: -40px;
            transition: 0.4s;

            &::after {
              width: 200%;
              height: 200%;
              content: "";
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate(-50%, -75%);
            }

            &::after {
              border-radius: 40%;
              background-color: black;
              animation: wave 10s linear infinite;
            }
          }
        }

        @keyframes wave {
          0% {
            transform: translate(-50%, -75%) rotate(0deg);
          }
          100% {
            transform: translate(-50%, -75%) rotate(360deg);
          }
        }
        .icon {
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
          .fav-icon-off,
          .fav-icon-on {
            font-size: 1.5rem;
            color: yellow;
          }
          .fav-icon-off {
            display: block;
          }
          .fav-icon-on {
            display: none;
          }
        }
      }
    }
    &::-webkit-scrollbar {
      width: 0.2em;
      background: white;
    }

    &::-webkit-scrollbar-track {
      width: 0.2rem;
      height: 1rem;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: black;
      outline: 1px solid black;
    }
  }
  #prev-bg-colors-holder {
    right: 0;
  }
  #prev-font-colors-holder {
    left: 0;
    direction: rtl;
  }
}

@media screen and (min-width: 768px) {
  #content {
    width: 90%;
    height: 80%;
    position: fixed;
    bottom: 0;
    left: 5%;
    background: #f1f3f6;
  }

  #content {
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 4rem;
      line-height: 5rem;
      padding: 2rem 0;
    }
    h2 {
      text-align: center;
      text-transform: capitalize;
      font-size: 3rem;
      line-height: 4rem;
      padding: 1rem 0;
    }
    h3.content-h3 {
      font-size: 2.5rem;
      line-height: 3.5rem;
      width: 65%;
      margin: 0 auto 2rem;
    }
    p.content-p {
      font-size: 1.8rem;
      line-height: 2.8rem;
      width: 65%;
      margin: 0 auto 2rem;
    }
    .tablet {
      display: block;
    }
    .pc {
      display: none;
    }
  }

  #content {
    #max-min {
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      #minimize,
      #maximize {
        p {
          color: white;
          font-size: 2rem;
        }
      }
      #minimize {
        display: none;
      }
    }
  }

  // maximize content
  .maximize {
    animation: maximizeContent 0.4s forwards ease-out;
  }

  @keyframes maximizeContent {
    from {
      width: 90%;
      height: 80%;
      left: 5%;
    }
    to {
      width: 100%;
      height: 100%;
      left: 0;
    }
  }

  // minimize content
  .minimize {
    animation: minimizeContent 0.4s forwards ease-out;
  }

  @keyframes minimizeContent {
    from {
      width: 100%;
      height: 100%;
      left: 0;
    }
    to {
      width: 90%;
      height: 80%;
      left: 5%;
    }
  }

  #content {
    #prev-font-header,
    #prev-bg-header {
      position: absolute;
      top: 10%;
      width: 9rem;
      height: 7rem;
      background: rgba($color: #000000, $alpha: 1);
      margin: 0 0.5rem;
      // border-radius: 0.5rem 0.5rem 0 0;
      padding: 0.5rem 0;
      p.header {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }
      p {
        text-transform: lowercase;
        text-align: center;
        font-size: 1.5rem;
        color: white;
      }
      .current-color {
        width: 8rem;
        font-size: 1rem;
        margin: 0.5rem;
        border: 0.1rem solid white;
        padding: 0.5rem 0;
        // background: white;
        // color: black;
        overflow: hidden;
        // border-radius: 0.2rem;
        // box-shadow: -0.1rem -0.1rem 0.2rem white, 0.1rem 0.1rem 0.2rem black;
        cursor: pointer;
      }
    }
    #prev-font-header {
      left: 0;
    }
    #prev-bg-header {
      right: 0;
    }
    #prev-bg-colors-holder,
    #prev-font-colors-holder {
      width: 9rem;
      max-height: 76%;
      margin: 0 0.5rem;
      position: absolute;
      top: calc(10% + 6rem);
      overflow-y: auto;
      overflow-x: hidden;
      background: rgba($color: #000000, $alpha: 1);
      // border-radius: 0 0 0.5rem 0.5rem;
      ul {
        li {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
          .trash {
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.5rem;
            color: red;
            cursor: pointer;
          }
          .prev-color {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            box-shadow: -0.1rem -0.1rem 0.2rem white, 0.1rem 0.1rem 0.2rem black;
            cursor: pointer;

            /* ----- color wave starts here----- */
            position: relative;
            display: block;
            overflow: hidden;

            &:hover {
              .wave {
                top: -120px;
              }
            }
            .wave {
              width: 100px;
              height: 100px;
              position: absolute;
              left: 0;
              top: -40px;
              transition: 0.4s;

              &::after {
                width: 200%;
                height: 200%;
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -75%);
              }

              &::after {
                border-radius: 40%;
                background-color: black;
                animation: wave 10s linear infinite;
              }
            }
          }

          @keyframes wave {
            0% {
              transform: translate(-50%, -75%) rotate(0deg);
            }
            100% {
              transform: translate(-50%, -75%) rotate(360deg);
            }
          }
          .icon {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            .fav-icon-off,
            .fav-icon-on {
              font-size: 1.5rem;
              color: yellow;
            }
            .fav-icon-off {
              display: block;
            }
            .fav-icon-on {
              display: none;
            }
          }
        }
      }
      &::-webkit-scrollbar {
        width: 0.2em;
        background: white;
      }

      &::-webkit-scrollbar-track {
        width: 0.2rem;
        height: 1rem;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: black;
        outline: 1px solid black;
      }
    }
    #prev-bg-colors-holder {
      right: 0;
    }
    #prev-font-colors-holder {
      left: 0;
      direction: rtl;
    }
  }
}

@media screen and (min-width: 1200px) {
  #content {
    width: 70%;
    height: 80%;
    position: fixed;
    bottom: 0;
    left: 15%;
    background: #f1f3f6;
  }

  #content {
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      padding: 2rem 0;
      width: 60%;
    }
    h2 {
      text-align: center;
      text-transform: capitalize;
      font-size: 2.5rem;
      padding: 1rem 0;
      width: 60%;
    }

    h3.content-h3 {
      font-size: 2.5rem;
      line-height: 3.5rem;
      width: 60%;
      margin: 0 auto 2rem;
    }
    p.content-p {
      font-size: 1.8rem;
      line-height: 2.8rem;
      width: 60%;
      margin: 0 auto 2rem;
    }
    .tablet {
      display: none;
    }
    .pc {
      display: block;
    }
  }

  #content {
    #max-min {
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      #minimize,
      #maximize {
        p {
          color: white;
          font-size: 2rem;
        }
      }
      #minimize {
        display: none;
      }
    }
  }

  // maximize content
  .maximize {
    animation: maximizeContent 0.4s forwards ease-out;
  }

  @keyframes maximizeContent {
    from {
      width: 70%;
      height: 80%;
      left: 15%;
    }
    to {
      width: 100%;
      height: 100%;
      left: 0;
    }
  }

  // minimize content
  .minimize {
    animation: minimizeContent 0.4s forwards ease-out;
  }

  @keyframes minimizeContent {
    from {
      width: 100%;
      height: 100%;
      left: 0;
    }
    to {
      width: 70%;
      height: 80%;
      left: 15%;
    }
  }

  #content {
    #prev-font-header,
    #prev-bg-header {
      position: absolute;
      top: 10%;
      width: 9rem;
      height: 7rem;
      background: rgba($color: #000000, $alpha: 1);
      margin: 0 0.5rem;
      // border-radius: 0.5rem 0.5rem 0 0;
      padding: 0.5rem 0;
      p.header {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }
      p {
        text-transform: lowercase;
        text-align: center;
        font-size: 1.5rem;
        color: white;
      }
      .current-color {
        width: 8rem;
        font-size: 1rem;
        margin: 0.5rem;
        border: 0.1rem solid white;
        padding: 0.5rem 0;
        // background: white;
        // color: black;
        overflow: hidden;
        // border-radius: 0.2rem;
        // box-shadow: -0.1rem -0.1rem 0.2rem white, 0.1rem 0.1rem 0.2rem black;
        cursor: pointer;
      }
    }
    #prev-font-header {
      left: 0;
    }
    #prev-bg-header {
      right: 0;
    }
    #prev-bg-colors-holder,
    #prev-font-colors-holder {
      width: 9rem;
      max-height: 76%;
      margin: 0 0.5rem;
      position: absolute;
      top: calc(10% + 7rem);
      overflow-y: auto;
      overflow-x: hidden;
      background: rgba($color: #000000, $alpha: 1);
      // border-radius: 0 0 0.5rem 0.5rem;
      ul {
        li {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
          .trash {
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.5rem;
            color: red;
            cursor: pointer;
          }
          .prev-color {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            box-shadow: -0.1rem -0.1rem 0.2rem white, 0.1rem 0.1rem 0.2rem black;
            cursor: pointer;

            /* ----- color wave starts here----- */
            position: relative;
            display: block;
            overflow: hidden;

            &:hover {
              .wave {
                top: -120px;
              }
            }
            .wave {
              width: 100px;
              height: 100px;
              position: absolute;
              left: 0;
              top: -40px;
              transition: 0.4s;

              &::after {
                width: 200%;
                height: 200%;
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -75%);
              }

              &::after {
                border-radius: 40%;
                background-color: black;
                animation: wave 10s linear infinite;
              }
            }
          }

          @keyframes wave {
            0% {
              transform: translate(-50%, -75%) rotate(0deg);
            }
            100% {
              transform: translate(-50%, -75%) rotate(360deg);
            }
          }
          .icon {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            .fav-icon-off,
            .fav-icon-on {
              font-size: 1.5rem;
              color: yellow;
            }
            .fav-icon-off {
              display: block;
            }
            .fav-icon-on {
              display: none;
            }
          }
        }
      }
      &::-webkit-scrollbar {
        width: 0.2em;
        background: white;
      }

      &::-webkit-scrollbar-track {
        width: 0.2rem;
        height: 1rem;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: black;
        outline: 1px solid black;
      }
    }
    #prev-bg-colors-holder {
      right: 0;
    }
    #prev-font-colors-holder {
      left: 0;
      direction: rtl;
    }
  }
}
